#activation du rexrite des URL
RewriteEngine On

#base du projet (emplacement a partir de la racine du serveur)
RewriteBase /php/exercices_cours_PHP/php/exercices/pokemon 

#si c'est pas un repertoire
RewriteCond %{REQUEST_FILENAME} !-d
#si c'est pas un fichier
RewriteCond %{REQUEST_FILENAME} !-f

RewriteRule ^(.+)$ index.php [QSA,L]